.title {
    margin-bottom: 1rem;
}

.container {
    margin: 1rem;
}

.stories {
    list-style: none;
    padding: 0;
}

.story {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
    .title {
        display: none;
    }

    .stories {
        width: 100%;
    }

    .story {
        margin: auto;
        margin-bottom: 1rem;
        width: 60%;
    }
}
