.header {
    text-align: center;
    border-bottom: solid;
    border-color: black;
    width: 100%;
}

.ul {
    padding: 0%;
}

.li {
    list-style-type: none;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}