#root {
    height: 100vh;
    color: white;
    background-color: #2e2e2e;
}

pre {
    padding: 1em;
    background-color: #464646;
    border-radius: 1em;
    border: solid black 1px;
    
}

a {
    text-decoration: none;
}