:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --accent-color: #6039cb;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

#root {

}

pre {
    
}

a {
    
}